body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    font-size: 17px;
}


.container-header {
    margin: auto;
    padding: 30px;
    overflow: auto;
}

.header-thumbnail {
    float: left;
    margin-left: 25px;
}

.header-thumbnail img {
    display: inline-block;
    border-radius: 8px;
}

.header-content {
    margin-left: 225px;
}

.container-navbar {
    margin:auto;
    max-width: 1000px;
    background-color:white;
    padding: 10px 30px 10px 10px;
}

.container-main {
    margin: auto;
    max-width: 1000px;
    background-color: white;
    padding: 30px;
}


.navbar {
    overflow: hidden;
    background-color: white;
}

.navbar a {
    float: left;
    font-size: 20px;
    color: #0D2121;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a.active {
    text-decoration: underline;
}

.dropdown {
    float:left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: #0D2121;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color:#DADFE3;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #0D2121;
    padding: 12 px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color:#DADFE3;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.aside {
    padding: 5px 15px 15px 15px;
    background-color: #ffff80;
}

@media only screen and (max-width: 620px) {
    .main {width: 100%;}
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #c0e0ff;
}